.cart__container {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 1440px;
    min-width: 320px;
    width: 80%;
    margin-top: 100px;
    justify-self: center;
}

.cart__nav {
    max-width: 900px;
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 20px;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(223, 227, 255);
}

.cart__nav img {
    width: 90px;
}

.cart__nav__title {
    margin: 5px;
    text-align: center;
    font-size: 26px;
    color: #1f2937;
    font-weight: 500;
}

.cart__nav__info {
    font-size: 16px;
    color : rgb(92, 92, 92);
    font-style: italic;
    text-align: center;
}

.cart__nav a {
    padding: 30px;
    font-size: 18px;
    max-width: 500px;
    color : #ffffff;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(90deg, #2563eb, #2542a0);
    box-shadow: 0 8px 20px rgb(123, 152, 216);
    text-align: center;
    border-radius: 50px;
    max-width: 60%;
    width: 100%;
}

.cart__ordering__steps {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap : 30px;
    max-width: 1440px;
    width: 90%;
}

.cart__empty--box p {
    margin : 10px;
    text-align: center;
    font-size: 24px;
}

.order__list {
    max-width: 600px;
    min-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
}

.order__product {
    display: flex;
    font-size: 14px;
    position: relative;
    background-color: #fff;
    box-shadow: 1px 2px 3px rgb(199, 199, 199);
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 12px;
}

.product__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 12px;
}

.product__quantity--active {
    box-shadow: 0 0 1px 1px gray;
    width: 90px;
    height: 28px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    border-radius: 10px;
}

.product__info--price {
    color : rgb(0, 174, 255);
    font-size: 16px;
}

.product__quantity--active span {
    font-size: 15px;
    text-align: center;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__info {
    font-size: 14px;
}

.order__product--remove {
    position: absolute;
    right: 15px;
    top : 15px;
    cursor: pointer;
}

.product__cost {
    color : rgb(0, 174, 255);
    font-size: 16px;
}

.product__quantity--active button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.image__border {
    min-width: 110px;
    width: 30%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__border img {
    width: 80px;
    height: 80px;
}

.order__accept {
    background-color: #fff;
    box-shadow: 1px 2px 3px rgb(194, 194, 194);
    max-width: 600px;
    min-width: 340px;
    width: 100%;
    align-self: center;
    padding: 20px;
}

.order__accept__inner {
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.order__accept__inner p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 5px;
    font-size: 17px;
}

.order__accept__inner p span {
    color : rgb(0, 110, 255);
    font-size: 18px;
}

.order__accept__inner button {
    font-size: 18px;
    height: 45px;
    background: #2563eb;
    color : #ffffff;
    transition: all 0.3s;
    border : 1px solid #c8d9ff;
    
}

.order__accept__inner button:hover {
    background: #1d4ed8;
}

.order__accept__inner a {
    background: rgb(214, 214, 214);
    font-size: 18px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__accept__steps {
    justify-self: center;
    min-width: 345px;
    max-width: 800px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.cart__container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(41, 62, 255);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    color : white;
    text-shadow: 0 0 3px #ffffff;
    position: relative;
}

.cart__accept--form {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap : 10px;
    border-radius: 15px;
}

.cart__accept--form input {
    max-width: 600px;
    width: 80%;
    line-height: 100%;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 15px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(235, 235, 235);
    background: 1px solid rgb(243, 243, 243);
    border-radius: 15px;
}

.back__to__order {
    position: absolute;
    width: 100px;
    left: 0px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    border: none;
    background: #8d8d8d;
}

.back__to__order:hover img {
    animation: flyLeft 0.6s linear;
}

.back__to__order img {
    width: 30px;
    
}

.cart__accept--form button {
    max-width: 600px;
    width: 80%;
    border: none;
    height: 50px;
    font-size: 18px;
}

@keyframes flyLeft {
    0% {
        transform: translateX(40px);
        opacity: 0.4;
    }
    50% {
        transform: scale(1.2);
    }
    60% {
        transform: translateX(0px) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translateX(0px) scale(1);
        opacity: 1;
    }
}

@media (min-width : 768px) {

    .cart__container {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .product__info {
        font-size: 16px;
    }

    .product__info--price {
        font-size: 17px;
    }

    .product__cost {
        font-size: 17px;
    }

    .order__accept {
        margin-bottom: 130px;
    }

    .image__border img {
        width: 160px;
        height: 160px;
    }

    .image__border {
        width: 200px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart__accept__steps {
       margin-bottom: 120px;
    }

}