* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    overflow-y: auto;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    background: linear-gradient(62deg, #ffffff, #f6f9fc, #f1f9ff, #f5fdff, #ebfbfd, #effcff, #e6f5f8, #e7fbff, #eaf9ff, #eef6ff, #efedfc, #faecff) no-repeat;
    position: relative;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0;
}

button {
    cursor: pointer;
}

ul li {
    user-select: none;
}

.is-hidden {
    display: none !important;
}

@keyframes loadingPage {
    from { opacity: 0.95; }
    to { opacity: 1; }
}