* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.main {
    min-width: 320px;
}

button {
    cursor: pointer;
}

.main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    
    
    position: relative;
    width: 100%;
}

/* pc display */
.pc__bar {
    background: red;
    width: 100vw;
    display: grid;
    position: fixed;
    align-items: center ;
    top: 0;
    left: 0;
    height: 90px;
    grid-template-rows: 20px 1fr;
    z-index: 1000;
    min-width: 320px;
}

.introduce__bar {
    background-color: #88eff7;
    height: 100%;
    min-width: 320px;
    display: flex;
    overflow: hidden;
    justify-content: center;
       
}

.introduce__limit {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    gap : 60px;
    
}

.introduce__text {
    animation: move_to_left 18s linear infinite;
    display: inline-flex;
    white-space: nowrap;
    gap : 70px;
}

.introduce__bar span {
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
} 

.menu__pc__container {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
    max-width: 1200px;
}

.menu__pc {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    justify-self: center;
}

.pc__action {
    padding: 7px;
    width: 100%;
    max-width: 130px;
    height: 40px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background: rgb(255, 106, 106);
    font-size: 15px;
    display: none;
}

.app__logo {
    display: block;
}

.pc__action img {
    width: 24px;
}

.pc__action a {
    display: flex;
    line-height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap : 5px;
}


/*  footer  */
.footer__container {
    position:relative;
    width: 100%;
    height: 80px;
    bottom: 0;  
    background: cyan;
    margin-bottom: 64px;
    min-width: 320px;
    padding: 0;
}

.footer__container p {
    margin: 20px;
}

/* mobile display */
.mobile__bar {
    background: red;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 64px;
    min-width: 320px;
    z-index: 100;
}

.menu__mobile {
    list-style: none;
    display: flex;
    gap:20px;
}

.mobile__action {
    padding: 0;
    margin: 0;
}

.mobile__action a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.mobile__action a img {
    width: 25px;
}

.mobile__action a span {
    font-size: 12px; 
}

.is-hidden {
    display: none !important;
}

.is-selected {
    background: rgb(182, 180, 180);
}

@keyframes move_to_left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}



@media (min-width : 570px) {
    .mobile__bar {
        height: 78px;
    }

    .mobile__action a img {
        width: 30px;
    }

    .mobile__action a span {
        font-size: 16px; 
    }

    .footer__container {
        margin-bottom: 78px;
    }

    .menu__mobile {
        gap: 50px;
    }
}

@media (min-width : 768px) {
    .footer__container {
        display: block;
    }

    .header__container {
        bottom: auto;
        top : 0%
    }

    .mobile__bar {
        display: none;
    }

    .menu__pc {
        display: grid;
    }

    .pc__bar {
        background: red;
    }

    .footer__container {
        position: absolute;
        margin-bottom: 0;
    }

    .pc__action {
        display: block;
    }

    .pc__bar {
        height: 120px;
    }
}