.home__container {
    justify-self: center;
    position: relative;
    margin-top: 90px;
    width: 100%;
    max-width: 1440px;
    min-width: 288px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__slide {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    
}

.hero__slide img{
    width: 100%;
    height: 100%;
    animation: slide 10s linear infinite;
}

.brand {
    display: grid;
    gap : 10px;
    justify-self: center;
    width: 80%;
    margin-top: 20px;
    
}

.brand h2 {
    justify-self: left;
    color : rgb(111, 0, 255);
    text-shadow: 0 0 2px rgb(190, 140, 255), 0 0 4px rgb(223, 199, 255);
}

.brand__list {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgb(194, 194, 194);
    justify-content:space-between;
    align-items: center;
}

.brand__list .brand__icon {
    flex-shrink: 0;
}

.brand__list img {
    width: 100%;
    height: 40px;
    object-fit: contain;
}

.new__product {
    display: flex;
    justify-self: center;
    width: 80%;
    margin-top: 20px;
}

@media (min-width : 768px) {
    .home__container {
        margin-top: 150px;
        margin-bottom: 170px;
    }

    .hero__slide {
        height: 80%;
        width: 80%;
        background-color: black;
        overflow: hidden;
        border-radius: 30px;
    }
}

@keyframes slide {
    0%,
    22% {
        transform: translateX(0%);
    }

    23%,
    42% {
        transform: translateX(-100%);
    }

    43%,
    62% {
        transform: translateX(-200%);
    }

    63%,
    82% {
        transform: translateX(-300%);
    }

    88% {
        transform: translateX(-200%);
    }

    94% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}