
.products__container {
    border-top: 1px solid black;
    justify-self: center;
    max-width: 1440px;
    min-width: 288px;
    margin-top: 110px;
    margin-bottom: 80px;
    width: 80%;
    position: relative;
    
}

.products__inner {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.filter__list {
    list-style: none;
}

/* Pc */
.type__filter__box__pc {
    box-shadow: 0 1px 2px gray;
    height: 70px;
    min-width: 80px;
    display: none;
    gap : 20px;
        /* display : grid */
}

.list__filter__brand__image__pc {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap : 25px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: hidden;
}

.list__filter__brand__image__pc li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.list__filter__brand__image__pc li img {
    width: 100%;
    height: 50px;
    
}

#products {
    scroll-margin-top: 200px;
}

/* Mobile */
.type__filter__box__mobile {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.type__filter__brand__outer {
    width: 100%;
    height: 100%;
}

.list__filter__brand__image__mobile {
    list-style: none;
    display: flex;
    gap : 12px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: hidden;
}
.list__filter__brand__image__mobile li {
    width: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.list__filter__brand__image__mobile li img{
    width: 100%;
    height: 40px;
    object-fit: contain;
}

.list__products__container {

}

.list__products {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    max-width: 1440px;
    gap : 10px;
    margin-top: 20px;
}

.product__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    height: 200px;
    width: 100%;
    box-shadow: 
         2px 2px 3px rgb(207, 207, 207);
    position: relative;
    gap: 6px;
    justify-self: center;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
    transition: 0.3s linear;
    animation: tide 0.3s linear;
    animation-delay: calc(var(--i)*50ms);
    
}

.product__item:hover .product__image{
    scale: 1.2;
    transition: 0.2s linear;
}

.image__border {
    padding-top: 10px;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.product__item .product__image {
    width: 100px;
    height: 100px;
}

.product__item--active {
    border: 1px solid black;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    top : 10px;
    right: 10px;
    z-index: 100;
}

.product__item--active img {
    width: 30px;
    margin: 0;
    padding: 0;
}

.product__item span {
    width: 100%;
    text-align: center;
}

.product__info {
    display: grid;
    grid-template-rows: 30px 20px;
    gap : 6px;
    width: 80%;
}

.product__item--name {
    
    font-size: 13px;
}

.product__item--price {
    font-size: 16px;
    font-weight: 500;
    color : rgb(9, 95, 255);
}

.tool__box {
    height: 70px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.search__group {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70%;
    min-width: 140px;
    position: relative;
    box-shadow: 0px 0px 0px 1px rgb(215, 246, 255);
}

.search__input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 40px;
    line-height: 100%;
    font-size: 18px;
    border: none;
    outline: none;
}

.search__group img {
    position: absolute;
    right : 5px;
    width: 30px;
    top : 5px;
    
}

.tool__group {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgb(215, 246, 255);
}

.sort__group img{
    width: 35px;
    
}

.empty__product {
    position: absolute;
    width: 100%;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.more__button {
    font-size: 18px;
    background: linear-gradient(174deg, rgb(37, 124, 255), rgb(45, 45, 180));
    color : #dbfdff;
    border : none;
}

.cycle {
    width: 120px;
    height: 120px;
    align-self: center;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
     background: linear-gradient(135deg,#6dd5fa,#a18cd1,#fbc2eb);
    animation: changeColor 4s linear infinite;
}

.cycle__inner {
    width: 90px;
    height: 90px;
    align-self: center;
    background: #ecfcff;
    border-radius: 50%;
}

.empty__product p {
    font-size: 18px;
}

@media (min-width : 768px) {
    .products__container {
        margin-top: 160px;
        margin-bottom: 160px;
    }

    .list__products {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    .product__item {
        height: 276px;
        padding-bottom: 10px;
    }

    .image__border {
        padding-top: 0px;
    }

    .products__inner {
        display: flex;
        flex-direction: column;
    }

    .product__item--name {
        font-size: 15px;
    }

    .product__item--price {
        font-size: 18px;
    }

    .type__filter__box__mobile {
        display: none;
    }
    .type__filter__box__pc {
        display: grid;
    }

    .image__border {
        width: 200px;
        height: 175px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .product__item .product__image {
        width: 200px;
        height: 200px;
    }
}

@keyframes changeColor {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes tide {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    70% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
