* {
    box-sizing: border-box;
}

.products__container {
    border-top: 1px solid black;
    justify-self: center;
    max-width: 1440px;
    min-width: 288px;
    margin-top: 160px;
    margin-bottom: 120px;
    width: 80%;
    position: relative;
}

.products__inner {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.filter__list {
    list-style: none;
}

.type__filter__products__bar {
    box-shadow: 0 1px 2px gray;
    min-width: 120px;
    display: grid;
    gap : 20px;
}

.type__filter__products__bar p {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.pc__filter__list {
    display: none;
}

.mobile__filter__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    margin-bottom: 20px;
}

.mobile__filter__list li {
    display: flex;
    border: 1px solid black;
    width: 25%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.filter__list {
    list-style: none;
}

.filter__box {
    box-shadow: 0 1px 2px gray;
    height: 60px;
}

.list__products__container {

}

.list__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap : 0;
    margin-top: 20px;
}

.product__item--test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    height: 260px;
    width: 100%;
    box-shadow: 
         0px 2px 4px gray;
    position: relative;
    padding: 8px;
    justify-self: center;
}

.product__item--test .product__image {
    width: 220px;
    height: 200px;
    pointer-events: none;
}

.product__item--active {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.product__item--active img {
    width: 30px;
    margin: 0;
    padding: 0;
}

.product__item--test span {
    width: 100%;
    text-align: center;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap : 6px;
}

.product__item--name {
    font-size: 15px;
}

.product__item--price {
    font-size: 18px;
    font-weight: 500;
    color : rgb(9, 95, 255);
}

@media (min-width : 768px) {
    .products__inner {
        display: grid;
        grid-template-columns: 2fr 8fr;
    }

    .type__filter__products__bar {
        display: flex;
        flex-direction: column;
    }

    .mobile__filter__list {
        display: none;
    }

    .pc__filter__list {
        display: flex;
    }
}