<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../library/bootstrap.css">
    <link rel="stylesheet" href="../style/admin.css">
    <title>Quản lí</title>
    <script src="../auth/me.js"></script>
</head>
<body>
    <form class="">
        <h2>Thêm hàng hóa</h2>
        <div class="review__image__box">
            <img src="" alt="" width="100px" height="100px">
        </div>
        <div>
            <label>Tên hàng hóa</label>
            <input type="text" name="product--name">
            <span class="error--name"></span>
        </div>
        <div>
            <label>Thuộc tính</label>
            <input type="text" name="product--spec">
            <span class="error--spec"></span>
        </div>
        <div>
            <label>Giá</label>
            <input type="number" name="product--price">
            <span class="error--price"></span>
        </div>
        <div>
            <label>Ảnh</label>
            <input type="file" name="product--image" class="product--image">
            <span class="error--file"></span>
        </div>

        <div class="btn__group">
            <button type="submit">Thêm</button>
            <button class="cancel__btn">Hủy</button>
        </div>
    </form>

    <div class="container-fluid ">
        <div class="row vh-100">
            <div class="col-3 side__bar">
                <img src="../assets/image/main/logoStore.png" width="140px" alt="">
                <ul>
                    <li>
                        Đơn mua
                    </li>
                    <li>
                        Hàng hóa
                    </li>
                    <li class="log-out-btn">
                        Đăng xuất
                    </li>
                </ul>
            </div>
            <div class="col-9 content__container">
                <h1 class="title">
                    Đơn mua
                </h1>
                <div class="bill__container">
                    <div class="tool__box">
                        <div class="tool__box--filter">
                            <button class="nav-btn">
                                <img src="" alt="">
                            </button>
                            <ul class="filter__list">
                                <li>Gần đây</li>
                                <li>Xa nhất</li>
                                <li>Mặc định</li>
                            </ul>
                        </div>
                        <div class="tool__box--button">
                            <button class="add">
                                Xác nhận
                            </button>
                        </div>
                    </div>
                    <div class="list">
                        <div class="bill" data-bill-id="" data-user-id="">
                            <div class="info">
                                <span class="date"></span>
                                <span class="order-name"></span>
                                <span class="address"></span>
                            </div>
                            <div class="bill__list">
                                <div class="order__product">
                                    <div class="img__box">
                                        <img src="" alt="">
                                    </div>
                                    <div class="info">
                                        <span class="name"></span>
                                        <span class="spec"></span>
                                        <div class="amount__box">
                                            <span class="amount">x{total}</span>
                                            <span class="price">xxx.xxxđ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="total">
                                xxx.xxxđ
                            </span>
                        </div>
                        <div class="bill selected" data-bill-id="" data-user-id="">
                            <div class="info">
                                <span class="date"></span>
                                <span class="order-name"></span>
                                <span class="address"></span>
                            </div>
                            <div class="bill__list">
                                <div class="order__product">
                                    <div class="img__box">
                                        <img src="" alt="">
                                    </div>
                                    <div class="info">
                                        <span class="name"></span>
                                        <span class="spec"></span>
                                        <div class="amount__box">
                                            <span class="amount">x{total}</span>
                                            <span class="price">xxx.xxxđ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="total">
                                xxx.xxxđ
                            </span>
                        </div>
                    </div>
                </div>
                <div class="product__container">
                    <div class="tool__box">
                        <div class="tool__box--search">
                            <input type="text" placeholder="Tìm gì đó..." maxlength="20">
                        </div>
                        <div class="tool__box--button">
                            <button class="add">
                                Thêm
                            </button>
                            <button class="update">
                                Sửa
                            </button>
                            <button class="delete">
                                Xóa
                            </button>
                        </div>
                    </div>
                    <div class="list">
                        <div class="product" id="{product-id}">
                            <div class="img__box">
                                <img src="" alt="">
                            </div>
                            <div class="info">
                                <span class="name">

                                </span>
                                <span class="spec">

                                </span>
                                <span class="price">

                                </span>
                            </div>
                        </div>
                        <div class="product selected" id="{product-id}">
                            <div class="img__box">
                                <img src="" alt="">
                            </div>
                            <div class="info">
                                <span class="name">

                                </span>
                                <span class="spec">

                                </span>
                                <span class="price">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../helper/helper.js"></script>

    <script src="../core/database.js"></script>
    <script src="../repository/productRepo.js"></script>
    <script src="../controller/productController.js"></script>
    <script src="../repository/cartRepo.js"></script>
    <script src="../controller/cartController.js"></script>
    <script src="../script/admin.js"></script>
</body>
</html>