<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/notification.css">
    <link rel="stylesheet" href="../library/bootstrap.css">
    <link rel="stylesheet" href="../style/admin.css">
    
    <title>Quản lí</title>
    <script src="../components/head.js"></script>
    <script src="../auth/me.js"></script>
</head>

<body>
    <div class="notification__container">
        
    </div>
    <form class="is-hidden">
        <h2>Thêm hàng hóa</h2>

        <div class="form__content">
            <div class="form__left">
                <div class="input__group">
                    <label>Tên hàng hóa</label>
                    <input type="text" name="product--name">
                    <span class="error--name"></span>
                </div>

                <div class="input__group">
                    <label>Thuộc tính</label>
                    <input type="text" name="product--spec" class="product--spec"
                        placeholder="VD: i5 • Iris Xe • 8GB • 512GB">
                    <button class="add__syntax" type="button"> • </button>
                    <span class="error--spec"></span>
                </div>

                <div class="input__group">
                    <label>Giá</label>
                    <input type="text" name="product--price">
                    <span class="error--price"></span>
                </div>

                <div class="input__group">
                    <label>Hãng</label>
                    <select name="product--brand">
                        <option value="">-- Chọn hãng --</option>
                        <option value="dell">Dell</option>
                        <option value="acer">Acer</option>
                        <option value="asus">Asus</option>
                        <option value="msi">MSI</option>
                        <option value="samsung">Samsung</option>
                        <option value="lenovo">Lenovo</option>
                        <option value="hp">HP</option>
                        <option value="gigabyte">Gigabyte</option>
                        <option value="surface">Surface</option>
                    </select>
                    <span class="error--brand"></span>
                </div>

                <div class="input__group">
                    <label>Loại</label>
                    <select name="product--category">
                        <option value="">-- Chọn loại --</option>
                        <option value="office">Office</option>
                        <option value="study">Study</option>
                        <option value="gaming">Gaming</option>
                    </select>
                    <span class="error--category"></span>
                </div>
            </div>

            <div class="form__right">
                <div class="review__image__box">
                    <img src="" alt="" width="140px" height="140px">
                </div>

                <div class="upload__box" id="upload__box">
                    <i class="fa-solid fa-upload"></i>
                    <span class="normal__mess">Tải ảnh lên</span>
                    <span class="error--file"></span>
                </div>
            </div>

        </div>
        <div class="input__group is-hidden">
            <input type="file" name="product--image" class="product--image">
        </div>

        <div class="btn__group">
            <button type="submit">Xác nhận</button>
            <button class="cancel__btn">Hủy</button>
        </div>
    </form>
    <div class="container-fluid admin__container">
        <div class="row vh-100">
            <div class="col-2 side__bar">
                <div class="image__border">
                    <img src="../assets/image/main/logoStore.png"  alt="">
                </div>
                <ul>
                    <li data-main-state="bills" class="selected">
                        Đơn mua
                    </li>
                    <li data-main-state="products">
                        Hàng hóa
                    </li>
                    <li class="log-out-btn">
                        Đăng xuất
                    </li>
                </ul>
            </div>
            <div class="col-10 content__container">
                <div class="content__container--inner">
                    <h1 class="title">
                        Đơn mua
                    </h1>
                    <div class="bill__container">
                        <div class="tool__box">
                            <div class="tool__box--filter">
                                <ul class="filter__list">
                                    <li>Mặc định</li>
                                    <li>Xa nhất</li>
                                </ul>
                            </div>
                            <div class="tool__box--button">
                                <button class="confirm">
                                    Xác nhận
                                </button>
                            </div>
                        </div>
                        <ul class="bill__type__list">
                            <li data-bill-type="ordered">Chưa xác nhận</li>
                            <li data-bill-type="isPending">Đã xác nhận</li>
                        </ul>
                        <div class="list">
                        </div>
                    </div>
                    <div class="product__container">
                        <div class="tool__box">
                            <div class="tool__box--search">
                                <input type="text" placeholder="Tìm gì đó..." maxlength="20">
                            
                                <select name="product--brand">
                                    <option value="">-- Chọn hãng --</option>
                                    <option value="dell">Dell</option>
                                    <option value="acer">Acer</option>
                                    <option value="asus">Asus</option>
                                    <option value="msi">MSI</option>
                                    <option value="samsung">Samsung</option>
                                    <option value="lenovo">Lenovo</option>
                                    <option value="hp">HP</option>
                                    <option value="gigabyte">Gigabyte</option>
                                    <option value="surface">Surface</option>
                                </select>
                            </div>
                            
                            <div class="tool__box--button">
                                <button class="add">
                                    Thêm
                                </button>
                                <button class="update">
                                    Sửa
                                </button>
                                <button class="delete">
                                    Xóa
                                </button>
                            </div>
                        </div>
                        <div class="list">
                            <div class="product" id="{product-id}">
                                <div class="img__box">
                                    <img src="" alt="">
                                </div>
                                <div class="info">
                                    <span class="name">
    
                                    </span>
                                    <span class="spec">
    
                                    </span>
                                    <span class="price">
    
                                    </span>
                                </div>
                            </div>
                            <div class="product selected" id="{product-id}">
                                <div class="img__box">
                                    <img src="" alt="">
                                </div>
                                <div class="info">
                                    <span class="name">
    
                                    </span>
                                    <span class="spec">
    
                                    </span>
                                    <span class="price">
    
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../helper/helper.js"></script>
    <script src="../components/notification.js"></script>

    <script src="../core/database.js"></script>
    <script src="../repository/productRepo.js"></script>
    <script src="../controller/productController.js"></script>
    <script src="../repository/cartRepo.js"></script>
    <script src="../controller/cartController.js"></script>
    <script src="../repository/orderRepo.js"></script>
    <script src="../controller/orderController.js"></script>
    <script src="../script/admin.js"></script>
</body>

</html>