<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../components/head.js"></script>
    <link rel="icon" href="../assets/image/main/logoStore.png" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="../style/default.css">
    <link rel="stylesheet" href="../style/cart.css">
    
</head>

<body>
    <div class="notification__container">
        
    </div>
    <div class="pc__bar">
        <div class="introduce__bar">
            <div class="introduce__limit">
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
            </div>
        </div>
        <div class="menu__pc__container">
            <ul class="menu__pc">
                <li class="pc__action app__logo">
                    <a href="home.html">
                        <img src="../assets/image/main/logoStore.png" class="logo" alt="">
                    </a>
                </li>
                <li class="pc__action pc__action--main">
                    <a href="home.html" title="Trang chủ">
                        <img src="../assets/icon/home-simple.svg" alt="home">
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="pc__action pc__action--products">
                    <a href="products.html" title="Hàng hóa">
                        <img src="../assets/icon/box-iso.svg" alt="products">
                        <span>Hàng hóa</span>
                    </a>
                </li>
                <li class="pc__action pc__action--info">
                    <a href="info.html" title="Thông tin">
                        <img src="../assets/icon/info-circle.svg" alt="info">
                        <span>Thông tin</span>
                    </a>
                </li>
                <li class="pc__action pc__action--cart is-active">
                    <a href="#cart" title="Giỏ hàng">
                        <img src="../assets/icon/user-cart.svg" alt="cart">
                        <span>Giỏ hàng</span>
                    </a>
                </li>
                <li class="pc__action pc__action--login">
                    <a href="auth.html" title="Đăng nhập" class="pc__login--active">
                        <img src="../assets/icon/log-in.svg" alt="login">
                        <span>Đăng nhập</span>
                    </a>
                    <a href="profile.html" title="Người dùng" class="pc__user--active is-hidden">
                        <img src="../assets/icon/profile-circle.svg" alt="user">
                        <span>Người dùng</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile__bar">
        <ul class="menu__mobile">
            <li class="mobile__action mobile__action--main">
                <a href="home.html" title="Trang chủ">
                    <img src="../assets/icon/home-simple.svg" alt="home">
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--products">
                <a href="products.html" title="Hàng hóa">
                    <img src="../assets/icon/box-iso.svg" alt="products">
                    <span>Hàng hóa</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--info">
                <a href="info.html" title="Thông tin">
                    <img src="../assets/icon/info-circle.svg" alt="info">
                    <span>Thông tin</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--login">
                <a href="auth.html" title="Đăng nhập">
                    <img src="../assets/icon/log-in.svg" alt="login">
                    <span>Đăng nhập</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--user is-hidden">
                <a href="profile.html" title="Người dùng">
                    <img src="../assets/icon/profile-circle.svg" alt="user">
                    <span>Người dùng</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--cart is-active">
                <a href="#cart" title="Giỏ hàng">
                    <img src="../assets/icon/user-cart.svg" alt="cart">
                    <span>Giỏ hàng</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="cart__container" id="cart">
        <div class="cart__nav cart__authorization--box is-hidden">
            <img src="../assets/icon/user-x.svg" alt="">
            <p class="cart__nav__title">Bạn chưa đăng nhập</p>
            <span class="cart__nav__info">Vui lòng đăng nhập để quản lí giỏ hàng của bạn</span>
            <a href="../view/auth.html">
                <span>Đăng nhập</span>
            </a>
        </div>

        <div class="cart__nav cart__empty--box is-hidden">
            <img src="../assets/icon/shopping-cart-off.svg" alt="">
            <p class="cart__nav__title">Giỏ hàng hiện đang trống...</p>
            <span class="cart__nav__info">Có vẻ bạn chưa thêm sản phẩm nào</span>
            <a href="../view/products.html">
                <span>Chọn thêm sản phẩm</span>
            </a>
        </div>

        <div class="cart__ordering__steps is-hidden">
            <h1>Chọn sản phẩm</h1>
            <div class="order__list">

            </div>
            <div class="order__accept ">
                <div class="order__accept__inner">
                    <p>Tổng sản phẩm : <span class="total__product--amount">0</span></p>
                    <p>Tổng tiền thanh toán : <span class="total__product--price"> 0đ</span></p>
                    <button class="order__button">Tiến hành đặt hàng</button>
                    <a href="../view/products.html">Chọn thêm sản phẩm khác</a>
                </div>
            </div>
        </div>
        <div class="cart__accept__steps is-hidden">
            <h1>
                Xác nhận
            </h1>
            <form method="post" class="cart__accept--form">
                <img src="../assets/icon/arrow-left.svg" class="back__to__order" title="Quay lại">
                <h2>Thông tin khách hàng</h2>
                <input type="text" name="username" placeholder="Họ và tên..." required>
                <input type="text" name="number_phone" placeholder="Số điện thoại..." required>
                <input type="text" name="email" placeholder="Email..." required>
                <h2>Địa chỉ nhận hàng</h2>
                <input type="text" name="address" placeholder="Địa chỉ nhận hàng..." required>
                <button type="submit">Xác nhận đặt hàng</button>
            </form>
        </div>
    </div>
    <div class="footer__container">
        <p>©️ tạo bởi Huy_G</p>
    </div>
    <script src="../components/notification.js"></script>
    <script src="../core/fakeMongo.js"></script>
    <script src="../auth/me.js"></script>
    <script src="../helper/helper.js"></script>
    <script src="../repository/cartRepo.js"></script>
    <script src="../repository/productRepo.js"></script>
    <script src="../repository/orderRepo.js"></script>
    <script src="../controller/productController.js"></script>
    <script src="../controller/cartController.js"></script>
    <script src="../controller/orderController.js"></script>
    <script src="../script/cart.js"></script>
    <script src="../components/header.js"></script>
</body>

</html>