<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../assets/image/main/logoStore.png" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="../style/default.css">
    <link rel="stylesheet" href="../style/home.css">
</head>

<body>
    <div class="notification__container">
        
    </div>
    <div class="pc__bar">
        <div class="introduce__bar">
            <div class="introduce__limit">
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
            </div>
        </div>
        <div class="menu__pc__container">
            <ul class="menu__pc">
                <li class="pc__action app__logo">
                    <a href="home.html">
                        <img src="../assets/image/main/logoStore.png" class="logo" alt="">
                    </a>
                </li>
                <li class="pc__action pc__action--main is-active">
                    <a href="#home" title="Trang chủ">
                        <img src="../assets/icon/home-simple.svg" alt="home">
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="pc__action pc__action--products">
                    <a href="products.html" title="Hàng hóa">
                        <img src="../assets/icon/box-iso.svg" alt="products">
                        <span>Hàng hóa</span>
                    </a>
                </li>
                <li class="pc__action pc__action--info">
                    <a href="info.html" title="Thông tin">
                        <img src="../assets/icon/info-circle.svg" alt="info">
                        <span>Thông tin</span>
                    </a>
                </li>
                <li class="pc__action pc__action--cart">
                    <a href="cart.html" title="Giỏ hàng">
                        <img src="../assets/icon/user-cart.svg" alt="cart">
                        <span>Giỏ hàng</span>
                    </a>
                </li>
                <li class="pc__action pc__action--login">
                    <a href="auth.html" title="Đăng nhập" class="pc__login--active">
                        <img src="../assets/icon/log-in.svg" alt="login">
                        <span>Đăng nhập</span>
                    </a>
                    <a href="profile.html" title="Người dùng" class="pc__user--active is-hidden">
                        <img src="../assets/icon/profile-circle.svg" alt="user">
                        <span>Người dùng</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile__bar">
        <ul class="menu__mobile">
            <li class="mobile__action mobile__action--main is-active">
                <a href="#home" title="Trang chủ">
                    <img src="../assets/icon/home-simple.svg" alt="home">
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--products">
                <a href="products.html" title="Hàng hóa">
                    <img src="../assets/icon/box-iso.svg" alt="products">
                    <span>Hàng hóa</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--info">
                <a href="info.html" title="Thông tin">
                    <img src="../assets/icon/info-circle.svg" alt="info">
                    <span>Thông tin</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--login">
                <a href="auth.html" title="Đăng nhập">
                    <img src="../assets/icon/log-in.svg" alt="login">
                    <span>Đăng nhập</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--user is-hidden">
                <a href="profile.html" title="Người dùng">
                    <img src="../assets/icon/profile-circle.svg" alt="user">
                    <span>Người dùng</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--cart">
                <a href="cart.html" title="Giỏ hàng">
                    <img src="../assets/icon/user-cart.svg" alt="cart">
                    <span>Giỏ hàng</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="home__container" id="home">
        <div class="hero">
            <div class="hero__slide">
                <img src="../assets/image/main/H1_1440x242_93f8d1845b.jpg" alt="">
                <img src="../assets/image/main/H1_1440x242_0fd509341f.jpg" alt="">
                <img src="../assets/image/main/H1_1440x242_e90739576d.jpg" alt="">
                <img src="../assets/image/main/H1_1440x242_6b2b92c3c5.jpg" alt="">
            </div>
        </div>
        <div class="brand">
            <h2>Laptop mới</h2>
            <div class="brand__list">
                <a class="brand__icon" href="../view/products.html?brand=acer">
                    <img src="../assets/image/brand/acer.png" alt="Acer">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=asus">
                    <img src="../assets/image/brand/asus.png" alt="Asus">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=dell">
                    <img src="../assets/image/brand/dell.png" alt="Dell">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=gigabyte">
                    <img src="../assets/image/brand/gigabyte.png" alt="Gigabyte">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=hp">
                    <img src="../assets/image/brand/hp.png" alt="HP">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=lenovo">
                    <img src="../assets/image/brand/lenovo.png" alt="Lenovo">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=msi">
                    <img src="../assets/image/brand/msi.png" alt="MSI">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=samsung">
                    <img src="../assets/image/brand/samsung.png" alt="Samsung">
                </a>
                <a class="brand__icon" href="../view/products.html?brand=surface">
                    <img src="../assets/image/brand/surface.png" alt="Surface">
                </a>
            </div>
        </div>
        <div class="new__product">
            <div class="new__product__slide">
                s
            </div>
        </div>
    </div>
    <div class="footer__container">
        <p>©️ tạo bởi Huy_G</p>
    </div>
    <script src="../script/notification.js"></script>
    <script src="../auth/me.js"></script>
    <script src="../script/header.js"></script>
    <script src="../script/home.js"></script>
</body>

</html>