<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Người dùng</title>
    <script src="../components/head.js"></script>
    <link rel="icon" href="../assets/image/main/logoStore.png" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="../style/default.css">
    <link rel="stylesheet" href="../style/profile.css">
    <link rel="stylesheet" href="../library/all.min.css">
    <link rel="stylesheet" href="../style/notification.css">
</head>

<body>
    <div class="notification__container">
        
    </div>
    <div class="pc__bar">
        <div class="introduce__bar">
            <div class="introduce__limit">
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
            </div>
        </div>
        <div class="menu__pc__container">
            <ul class="menu__pc">
                <li class="pc__action app__logo">
                    <a href="home.html">
                        <img src="../assets/image/main/logoStore.png" class="logo" alt="">
                    </a>
                </li>
                <li class="pc__action pc__action--main">
                    <a href="home.html" title="Trang chủ">
                        <img src="../assets/icon/home-simple.svg" alt="home">
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="pc__action pc__action--products">
                    <a href="products.html" title="Hàng hóa">
                        <img src="../assets/icon/box-iso.svg" alt="products">
                        <span>Hàng hóa</span>
                    </a>
                </li>
                <li class="pc__action pc__action--info">
                    <a href="info.html" title="Thông tin">
                        <img src="../assets/icon/info-circle.svg" alt="info">
                        <span>Thông tin</span>
                    </a>
                </li>
                <li class="pc__action pc__action--cart">
                    <a href="cart.html" title="Giỏ hàng">
                        <img src="../assets/icon/user-cart.svg" alt="cart">
                        <span>Giỏ hàng</span>
                    </a>
                </li>
                <li class="pc__action pc__action--login is-active">
                    <a href="auth.html" title="Đăng nhập" class="pc__login--active pc__action is-active">
                        <img src="../assets/icon/log-in.svg" alt="login">
                        <span>Đăng nhập</span>
                    </a>
                    <a href="#user" title="Người dùng" class="pc__user--active is-hidden">
                        <img src="../assets/icon/profile-circle.svg" alt="user">
                        <span>Người dùng</span>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
    <div class="mobile__bar">
        <ul class="menu__mobile">
            <li class="mobile__action mobile__action--main">
                <a href="home.html" title="Trang chủ">
                    <img src="../assets/icon/home-simple.svg" alt="home">
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--products">
                <a href="products.html" title="Hàng hóa">
                    <img src="../assets/icon/box-iso.svg" alt="products">
                    <span>Hàng hóa</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--info">
                <a href="info.html" title="Thông tin">
                    <img src="../assets/icon/info-circle.svg" alt="info">
                    <span>Thông tin</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--login">
                <a href="auth.html" title="Đăng nhập">
                    <img src="../assets/icon/log-in.svg" alt="login">
                    <span>Đăng nhập</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--user is-hidden is-active">
                <a href="#user" title="Người dùng">
                    <img src="../assets/icon/profile-circle.svg" alt="user">
                    <span>Người dùng</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--cart">
                <a href="cart.html" title="Giỏ hàng">
                    <img src="../assets/icon/user-cart.svg" alt="cart">
                    <span>Giỏ hàng</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="user__container" id="user">
        <div class="user__container__inner">
            <div class="side__bar">
                    <button class="side__bar__item is-active" data-choice="info">
                    Thông tin cá nhân
                    </button>
                    <button class="side__bar__item" data-choice="bill">
                        Đơn mua
                    </button>
                    <div class="side__bar__divider"></div>
                    <button class="side__bar__item side__bar__logout">
                        Đăng xuất
                    </button>
            </div>
            <div class="side__container">
                <div class="content__container info__container ">
                    <h2 class="main__title">
                        <i class="fa-solid fa-id-card"></i>
                        Thông tin cá nhân
                    </h2>
                    <div class="input__field">
                        <label>Tên tài khoản</label>
                        <input type="text" class="username" maxlength="20" readonly>
                    </div>
                    <div class="input__field">
                        <label>Tên nhận hàng</label>
                        <input type="text" class="receiver_name" maxlength="40">
                    </div>
                    <div class="input__field">
                        <label>Email</label>
                        <input type="text" class="email" maxlength="40" readonly>
                    </div>
                    <div class="input__field">
                        <label>Số điện thoại</label>
                        <input type="text" class="number_phone" maxlength="11">
                    </div>
                    <div class="input__field">
                        <label>Địa chỉ nhận</label>
                        <textarea maxlength="100" class="address">
Nhơn Mỹ, Chợ Mới, An Giang</textarea>
                    </div>
                    
                    <button class="update__button">Cập nhật</button>
                </div>
                <div class="content__container bill__container is-hidden">
                    <h2 class="main__title">
                        <i class="fa-solid fa-receipt"></i>
                        Đơn mua
                    </h2>
                    <ul>
                        <li class="selected" data-type="ordered">Đã đặt</li>
                        <li data-type="isPending">Vận chuyển</li>
                        <li data-type="success">Hoàn thành</li>
                    </ul>
                    <div class="bill__list ">
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer__container">
        <p>©️ tạo bởi Huy_G</p>
    </div>
    <script src="../components/notification.js"></script>
    <script src="../core/fakeMongo.js"></script>
    <script src="../auth/me.js"></script>
    <script src="../repository/userRepo.js"></script>
    <script src="../repository/orderRepo.js"></script>
    <script src="../repository/productRepo.js"></script>
    <script src="../controller/productController.js"></script>
    <script src="../controller/orderController.js"></script>
    <script src="../controller/authController.js"></script>
    <script src="../components/header.js"></script>
    <script src="../script/profile.js"></script>
</body>

</html>