<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../components/head.js"></script>
    <link rel="icon" href="../assets/image/main/logoStore.png" sizes="64x64" type="image/png">
    <link rel="stylesheet" href="../style/default.css">
    <link rel="stylesheet" href="../style/test.css">
</head>

<body>
    <div class="notification__container">

    </div>
    <div class="pc__bar">
        <div class="introduce__bar">
            <div class="introduce__limit">
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
                <div class="introduce__text">
                    <span>⭐ Sản phẩm Chính hãng - VAT đầy đủ</span>
                    <span>💸 Giá rẻ dẫn đầu - Bảo hành siêu lâu</span>
                    <span>🔁 Thu cũ giá tốt - Lên đời tiết kiệm</span>
                </div>
            </div>
        </div>
        <div class="menu__pc__container">
            <ul class="menu__pc">
                <li class="pc__action app__logo">
                    <a href="home.html">
                        <img src="../assets/image/main/logoStore.png" class="logo" alt="">
                    </a>
                </li>
                <li class="pc__action pc__action--main is-active">
                    <a href="#home" title="Trang chủ">
                        <img src="../assets/icon/home-simple.svg" alt="home">
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="pc__action pc__action--products">
                    <a href="products.html" title="Hàng hóa">
                        <img src="../assets/icon/box-iso.svg" alt="products">
                        <span>Hàng hóa</span>
                    </a>
                </li>
                <li class="pc__action pc__action--info">
                    <a href="info.html" title="Thông tin">
                        <img src="../assets/icon/info-circle.svg" alt="info">
                        <span>Thông tin</span>
                    </a>
                </li>
                <li class="pc__action pc__action--cart">
                    <a href="cart.html" title="Giỏ hàng">
                        <img src="../assets/icon/user-cart.svg" alt="cart">
                        <span>Giỏ hàng</span>
                    </a>
                </li>
                <li class="pc__action pc__action--login">
                    <a href="auth.html" title="Đăng nhập" class="pc__login--active">
                        <img src="../assets/icon/log-in.svg" alt="login">
                        <span>Đăng nhập</span>
                    </a>
                    <a href="profile.html" title="Người dùng" class="pc__user--active is-hidden">
                        <img src="../assets/icon/profile-circle.svg" alt="user">
                        <span>Người dùng</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile__bar">
        <ul class="menu__mobile">
            <li class="mobile__action mobile__action--main is-active">
                <a href="#home" title="Trang chủ">
                    <img src="../assets/icon/home-simple.svg" alt="home">
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--products">
                <a href="products.html" title="Hàng hóa">
                    <img src="../assets/icon/box-iso.svg" alt="products">
                    <span>Hàng hóa</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--info">
                <a href="info.html" title="Thông tin">
                    <img src="../assets/icon/info-circle.svg" alt="info">
                    <span>Thông tin</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--login">
                <a href="auth.html" title="Đăng nhập">
                    <img src="../assets/icon/log-in.svg" alt="login">
                    <span>Đăng nhập</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--user is-hidden">
                <a href="profile.html" title="Người dùng">
                    <img src="../assets/icon/profile-circle.svg" alt="user">
                    <span>Người dùng</span>
                </a>
            </li>
            <li class="mobile__action mobile__action--cart">
                <a href="cart.html" title="Giỏ hàng">
                    <img src="../assets/icon/user-cart.svg" alt="cart">
                    <span>Giỏ hàng</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="home__container" id="home">

        <!-- HERO -->
        <section class="home__hero">
            <img src="../assets/image/main/H1_1440x242_93f8d1845b.jpg" alt="">
            <img src="../assets/image/main/H1_1440x242_0fd509341f.jpg" alt="">
            <img src="../assets/image/main/H1_1440x242_e90739576d.jpg" alt="">
            <img src="../assets/image/main/H1_1440x242_6b2b92c3c5.jpg" alt="">
        </section>


        <!-- BANNER -->
        <section class="home__banner">
            <img src="../assets/image/main/images_no_bg.png" alt="">
        </section>

        <section class="home__brand">

            <div class="home__section__header">
                <h2>Laptop theo hãng</h2>
            </div>

            <div class="home__brand__list">

                <a href="../view/products.html?brand=acer" class="home__brand__item">
                    <img src="../assets/image/brand/acer.png" alt="acer">
                </a>

                <a href="../view/products.html?brand=asus" class="home__brand__item">
                    <img src="../assets/image/brand/asus.png" alt="asus">
                </a>

                <a href="../view/products.html?brand=dell" class="home__brand__item">
                    <img src="../assets/image/brand/dell.png" alt="dell">
                </a>

                <a href="../view/products.html?brand=hp" class="home__brand__item">
                    <img src="../assets/image/brand/hp.png" alt="hp">
                </a>

                <a href="../view/products.html?brand=lenovo" class="home__brand__item">
                    <img src="../assets/image/brand/lenovo.png" alt="lenovo">
                </a>

                <a href="../view/products.html?brand=msi" class="home__brand__item">
                    <img src="../assets/image/brand/msi.png" alt="msi">
                </a>

                <a class="home__brand__item" href="../view/products.html?brand=samsung">
                    <img src="../assets/image/brand/samsung.png" alt="Samsung">
                </a>

                <a class="home__brand__item" href="../view/products.html?brand=surface">
                    <img src="../assets/image/brand/surface.png" alt="Surface">
                </a>

            </div>

        </section>


        <!-- TOP 5 LAPTOP KHỦNG -->
        <section class="home__top">
            <div class="home__section__header">
                <h2>Top 5 laptop cấu hình khủng</h2>
            </div>

            <div class="home__product__list">

                <div class="home__product__card">
                    <div class="home__product__image">
                        <img src="../assets/image/product/demo1.png" alt="">
                    </div>

                    <div class="home__product__info">
                        <h3>ROG Strix Scar 18</h3>
                        <p class="home__product__spec">
                            i9 • RTX 4090 • 32GB • 2TB
                        </p>

                        <p class="home__product__price">
                            129.990.000đ
                        </p>
                    </div>
                </div>


                <div class="home__product__card">
                    <div class="home__product__image">
                        <img src="../assets/image/product/demo2.png" alt="">
                    </div>

                    <div class="home__product__info">
                        <h3>MSI Titan GT77</h3>
                        <p class="home__product__spec">
                            i9 • RTX 4090 • 64GB • 4TB
                        </p>

                        <p class="home__product__price">
                            149.990.000đ
                        </p>
                    </div>
                </div>


                <div class="home__product__card">
                    <div class="home__product__image">
                        <img src="../assets/image/product/demo3.png" alt="">
                    </div>

                    <div class="home__product__info">
                        <h3>Alienware m18</h3>
                        <p class="home__product__spec">
                            i9 • RTX 4090 • 32GB • 1TB
                        </p>

                        <p class="home__product__price">
                            119.990.000đ
                        </p>
                    </div>
                </div>


                <div class="home__product__card">
                    <div class="home__product__image">
                        <img src="../assets/image/product/demo4.png" alt="">
                    </div>

                    <div class="home__product__info">
                        <h3>Razer Blade 18</h3>
                        <p class="home__product__spec">
                            i9 • RTX 4080 • 32GB • 2TB
                        </p>

                        <p class="home__product__price">
                            109.990.000đ
                        </p>
                    </div>
                </div>


                <div class="home__product__card">
                    <div class="home__product__image">
                        <img src="../assets/image/product/demo5.png" alt="">
                    </div>

                    <div class="home__product__info">
                        <h3>Lenovo Legion 9i</h3>
                        <p class="home__product__spec">
                            i9 • RTX 4090 • 32GB • 1TB
                        </p>

                        <p class="home__product__price">
                            114.990.000đ
                        </p>
                    </div>
                </div>


            </div>

        </section>

    </div>

    <div class="footer__container">
        <p>©️ tạo bởi Huy_G</p>
    </div>
    <script src="../components/notification.js"></script>
    <script src="../auth/me.js"></script>
    <script src="../components/header.js"></script>
    <script src="../script/home.js"></script>
</body>

</html>